<!doctype html>
<html>
    <head>
        <title>Vending machine</title>
    </head>
    <body>
        <h1>Vending Machine</h1>
        <form method="post" action="/">
            <tr>
                <input id="cola" type="submit" name="product_button" value="COLA">
                <input id="chips" type="submit" name="product_button" value="CHIPS">
            </tr>
            <br>
            <br>
            <h2 id="dispenser">{{ dispenser }}</h2>
            <br>
            <br>
            <h2 id="display">{{ display }}</h2>
        </form>
    </body>
</html>